@model IEnumerable<eCB_Transport.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Route ID
            </th>
            <th>
               Bus ID
            </th>
            <th>
                Departure
            </th>
            <th>
                Arrival
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Seats Left
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.When)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatsLeft)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">| Edit |</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else if (User.IsInRole("Customer"))
                        {
                          //  <a asp-action="Book" asp-route-id="@item.Id">| Book Now</a>
                        }
                </td>
                </tr>
        }
    </tbody>
</table>
